.budget-form {
  @include UI-base-rounded;
  $budgetform: &;

  flex-direction: column;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;

  @include breakpoint('tablet-pt') {
    flex-direction: row;
  }

  &__circle-progress {
    background: $c-secondary;
    color: $c-white;
    display: flex;
    align-items: center;
    padding: #{$base * 5px};
  }

  &__user-fields {
    padding: #{$base * 5px};
  }
}