.base-article {
  @include moveUp;
  @include UI-base-rounded;
  $basearticle: &;

  background: $c-white;
  color: $c-gray;
  padding: #{$base * 5px};
  position: relative;

  @include breakpoint('desktop') {
    padding-left: #{$base * 9px};
  }

  &__category {
    @include text--xsmall;
    @include text--bold;

    color: $c-primary;
    display: flex;
    align-items: center;
    padding-left: #{($base * 4px)};
    position: relative;
    text-transform: uppercase;

    @include breakpoint('desktop') {
      padding-left: 0;
    }

    &::before {
      border-radius: 100%;
      background: $c-primary;
      content: '';
      left: 0;
      height: #{$base * 2px};
      margin-right: #{$base * 2px};
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: #{$base * 2px};

      @include breakpoint('desktop') {
        left: #{($base * 4) * -1px};
      }
    }

    ~ #{$basearticle}__title {
      margin-top: #{$base * 2px};
    }
  }

  &__title {
    @include text--xxbig;
    @include text--regular; 
    line-height: #{$base * 7px};
    word-break: break-word;
    
    ~ #{$basearticle}__description {
      margin-top: #{$base * 2px};

      @include breakpoint('tablet-pt') {
        margin-top: #{$base * 4px};
      }
    }

    ~ #{$basearticle}__extra {
      margin-top: #{$base * 2px};

      @include breakpoint('tablet-pt') {
        margin-top: #{$base * 4px};
      }
    }

    ~ #{$basearticle}__action {
      margin-top: #{$base * 2px};

      @include breakpoint('tablet-pt') {
        margin-top: #{$base * 8px};
      }
    }
  }

  &__description {
    @include text--small;
    @include text--light;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 

    @include breakpoint('tablet-pt') {
      @include text--medium;
      display: block;
    }
  }

  &__extra {
    @include text--light;
    display: none;

    @include breakpoint('tablet-ld') {
      display: flex;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
  }

  &--hasArrow-left {
    @include UI-arrow('left', $c-white)
  }

  &--hasArrow-bottom {
    @include UI-arrow('bottom', $c-white)
  }

  /deep/ {
    ul {
      li {
        display: flex;
        align-items: flex-start;

        &::before {
          background: $c-secondary;
          border-radius: 100%;
          content: '';
          height: #{$base + 1px};
          margin-right: #{$base + 1px};
          width: #{$base + 1px};

          transform: translateY(#{$base + 1px});
        }

        + li {
          margin-top: #{$base * 1px};
        }
      }
    }

    strong {
      color: $c-secondary;
      margin: 0 #{$base * 1px};
    }
  }
}