.base-article {
  @include moveUp;
  @include UI-base-rounded;
  $basearticle: &;

  align-items: center;
  background: $c-white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: $c-gray;
  height: 100%;
  padding: #{$base * 5px};
  position: relative;
  width: 100%;

  @include breakpoint('tablet-ld') {
    align-items: flex-start;
    flex-direction: column;
  }

  @include breakpoint('desktop') {
    padding-left: #{$base * 9px};
  }

  &__category {
    @include text--xsmall;
    @include text--bold;

    color: $c-primary;
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    padding-left: #{($base * 4px)};
    position: relative;
    text-transform: uppercase;
    transform: translateX(-10px);

    @include breakpoint('tablet-ld') {
      flex: 0;
    }

    @include breakpoint('desktop') {
      padding-left: 0;
    }

    &::before {
      border-radius: 100%;
      background: $c-primary;
      content: '';
      left: 0;
      height: #{$base * 2px};
      margin-right: #{$base * 2px};
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: #{$base * 2px};

      @include breakpoint('desktop') {
        left: #{($base * 4) * -1px};
      }
    }

    ~ #{$basearticle}__title {
      margin-top: #{$base * 2px};
    }
  }

  &__title {
    @include text--xxbig;
    @include text--regular;
    flex: 1; 
    line-height: #{$base * 7px};
    word-break: break-word;

    @include breakpoint('tablet-ld') {
      flex: 0;
    }

    @include breakpoint('only-phone') {
      flex: 0 0 100%;
    }
    
    ~ #{$basearticle}__description {
      margin-top: #{$base * 2px};

      @include breakpoint('tablet-pt') {
        margin-top: #{$base * 4px};
      }
    }

    ~ #{$basearticle}__extra {
      margin-top: #{$base * 2px};

      @include breakpoint('tablet-pt') {
        margin-top: #{$base * 4px};
      }
    }

    ~ #{$basearticle}__action {
      margin-top: #{$base * 2px};
      margin-left: #{$base * 2px};

      @include breakpoint('tablet-pt') {
        margin: auto auto 0 0;
      }
    }
  }

  &__description {
    @include text--small;
    @include text--light;
    display: none;
    overflow: hidden;

    @include breakpoint('tablet-ld') {
      @include text--medium;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; 
    }
  }

  &__extra {
    @include text--light;
    display: none;

    @include breakpoint('tablet-ld') {
      display: flex;
    }
  }

  &__action {
    display: flex;
    justify-content: flex-end;

    @include breakpoint('tablet-ld') {
      flex: 0;
      justify-content: center;
      width: 100%;
    }

    @include breakpoint('only-phone') {
      flex: 1;
    }
  }

  &--hasArrow-left {
    @include UI-arrow('left', $c-white)
  }

  &--hasArrow-bottom {
    @include UI-arrow('bottom', $c-white)
  }

  /deep/ {
    ul {
      li {
        display: flex;
        align-items: flex-start;

        &::before {
          background: $c-secondary;
          border-radius: 100%;
          content: '';
          height: #{$base + 1px};
          margin-right: #{$base + 1px};
          width: #{$base + 1px};

          transform: translateY(#{$base + 1px});
        }

        + li {
          margin-top: #{$base * 1px};
        }
      }
    }

    strong {
      color: $c-secondary;
      margin: 0 #{$base * 1px};
    }
  }
}