.base-textarea {
  $basetextarea: &;

  @include text--regular;
  @include moveValidationUI;

  display: flex;
  flex-direction: column;
  position: relative;

  &__title {
    @include text--small;
    @include text--light;

    ~ #{$basetextarea}__field {
      margin-top: #{$base * 1px};
    }
  }

  &__field {
    @include text--small;
    border: 1px solid rgba($c-gray, .2);
    border-radius: px2rem($base);
    color: $c-dark-gray;
    padding: #{$base * 2px};
    resize: none;
    width: 100%;
    transition: border .4s $a-ease-out;

    #{$basetextarea}--isActive &{
      border-color: $c-secondary;
    }

    #{$basetextarea}--isValid &{
      border-color: $c-valid;
    }

    #{$basetextarea}--isInvalid &{
      border-color: $c-warning;
    }
  }

  &__required-label {
    @include text--xxsmall;
    align-self: flex-end;
    color: $c-gray;
  }

  &__validation-icon {
    background: $c-silver;
    border-radius: 100%;
    height: #{$base * 3px};
    position: absolute;
    top: #{$base * 5px};
    left: 0;
    width: #{$base * 3px};
    transform: translateX(-100%) translateX(#{$base * -1px});
    transition: background .4s linear;

    #{$basetextarea}--isValid &{
      @include UI-isValid;
      transform: translateY(0) translateX(-100%) translateX(-5px);
    }

    #{$basetextarea}--isInvalid &{
      @include UI-isInvalid
    }
  }
}