.header {
  @include fade;
  $header: &;

  background: $c-white;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  border: none;
  color: $c-dark-gray;
  display: flex;
  position: sticky;
  padding: 0 0 0 #{$base * 3px};
  top: 0;
  z-index: 10;

  @include breakpoint('tablet-pt') {
    box-shadow: none;
    display: block;
    padding: 0 #{$base * 6px};
  }

  @include breakpoint('large-desktop') {
    padding: 0 #{$base * 10px};
  }

  &--isScrolled {
    background: rgba($c-white, .8);
  }
  

  &__logo {
    min-height: px2rem($base * 8);

    @include breakpoint('tablet-pt') {
      min-height: px2rem($base * 12);
    }

    img {
      max-width: px2rem(120);
      transition: max-width .4s $a-ease-out;

      @include breakpoint('only-phone') {
        max-width: px2rem(120);
      }

      @include breakpoint('tablet-pt') {
        max-width: px2rem(150);
      }
    }
  }

  /deep/ {
    .login-box {
      transform: translateX((($base * -1) * 10px));

      @include breakpoint('tablet-pt') {
        transform: none;
      }
    }
  }
}