.base-select {
  @include text--regular;
  @include moveValidationUI;
  $baseselect: &; 

  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    @include UI-spinner(10, 2, $c-secondary);

    background: $c-white;
    border: 1px solid rgba($c-gray, .2);
    border-radius: px2rem($base);
    display: flex;
    padding: #{$base * 2px} #{$base * 4px} #{$base * 2px} #{$base * 2px};
    position: relative;
    transition: border .4s $a-ease-out;

    #{$baseselect}--isActive &{
      border-color: $c-secondary;
    }

    #{$baseselect}--isValid &{
      border-color: $c-valid;
    }

    #{$baseselect}--isInvalid &{
      border-color: $c-warning;
    }

    &::before {
      border: solid $c-primary;
      border-width: 0 2px 2px 0;
      content: '';
      display: inline-block;
      position: absolute;
      padding: 2px;
      pointer-events: none;
      right: #{$base * 2px};
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &:after {
      display: none;
      position: relative;
      pointer-events: none;
      right: 0%;

      #{$baseselect}--isLoading &{
        display: block;
      }
    }
  }

  &__field {
    @include text--small;
    background: none;
    border: none;
    color: $c-dark-gray;
    padding: #{$base - 2px};
    width: 100%;
    
    -moz-appearance: none;
    -webkit-appearance: none;

    &::-ms-expand {
      display: none;
    }

    &[disabled] {
      opacity: .3;
    }
  }

  &__required-label {
    @include text--xxsmall;
    align-self: flex-end;
    color: $c-gray;
  }

  &__validation-icon {
    background: $c-silver;
    border-radius: 100%;
    height: #{$base * 3px};
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: #{(($base * 3) / 2) * -1px};
    width: #{$base * 3px};
    transform: translateX(-100%) translateX(#{$base * -1px});
    transition: background .4s linear;

    #{$baseselect}--isValid &{
      @include UI-isValid
    }

    #{$baseselect}--isInvalid &{
      @include UI-isInvalid
    }
  }
}