.base-input {
  $baseinput: &;

  @include text--regular;
  @include moveValidationUI;

  display: flex;
  flex-direction: column;
  position: relative;
  
  &__label {
    background: $c-white;
    border: 1px solid rgba($c-gray, .5);
    border-radius: px2rem($base);
    display: flex;
    padding: #{($base * 3) + 3 + 'px'} #{$base * 2 + 'px'} #{$base + 'px'};
    position: relative;
    transition: border .4s $a-ease-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      @include text--light;
      @include text--xsmall;
      content: attr(data-placeholder);
      color: $c-gray;
      transition: transform .4s $a-ease-out;
    }

    &--isActive {
      border-color: $c-secondary;

      &::before {
        transform: translateY(-50%) translateY(calc((100% - #{$base + 'px'}) * -1));
      }
    }

    &--isValid {
      border-color: $c-valid;
    }

    &--isInvalid {
      border-color: $c-warning;
    }
  }

  &__field {
    @include text--xsmall;
    background: none;
    border: none;
    color: $c-darkgray;
    padding: #{$base - 2 + 'px'};
    width: 100%;
  }

  &__required-label {
    @include text--xxsmall;
    align-self: flex-end;
    color: $c-gray;
  }

  &__validation-icon {
    background: $c-silver;
    border-radius: 100%;
    height: #{$base * 3 + 'px'};
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: #{(($base * 3) / 2) * -1 + 'px'};
    width: #{$base * 3 + 'px'};
    transform: translateX(-100%) translateX(#{$base * -1 + 'px'});
    transition: background .4s linear;

    #{$baseinput}__label--isValid &{
      @include UI-isValid
    }

    #{$baseinput}__label--isInvalid &{
      @include UI-isInvalid
    }
  }
}
