.main-wrap {
  $mainwrap: &;
  height: 2500px;

  &__s-top {
    background: yellow;

    background: $c-secondary;
    padding: #{$base * 10px} #{$base * 6px} #{$base * 15px};
    overflow: hidden;
    position: relative;

    @include breakpoint('only-phone') {
      padding: #{$base * 3px} #{$base * 3px} #{$base * 9px};
    }

    &::before {
      content: '';
      background: url('../../assets/images/svg/shape.svg');
      background-size: cover;
      background-position: center;
      bottom: -5px;
      height: #{$base * 17px};
      left: -50%;
      position: absolute;
      width: 150vw;
      z-index: 0;

      @include breakpoint('only-phone') {
        bottom: -2px;
        height: #{$base * 6px};
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__s-middle {
    padding: #{$base * 10px} #{$base * 6px} #{$base * 10px};
    overflow: hidden;
    position: relative;

    @include breakpoint('only-phone') {
      padding: #{$base * 3px} #{$base * 3px} #{$base * 9px};
    }
  }
}