.router-module {
  @include moveUp;
  $routermodule: &;

  [class*='__c-'] {
    @include breakpoint('tablet-pt') {
      &:nth-child(n+3) {
        margin-top: #{$base * 5px};
      }
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &__c-form {
    order: 2;
    margin-top: #{$base * 3px};

    + #{$routermodule}__c-info {
      margin-top: #{$base * 3px};

      @include breakpoint('tablet-ld') {
        margin-top: 0;
      }
    }

    @include breakpoint('tablet-ld') {
      order: 1;
      margin-top: 0;
    }
  }

  &__c-info {
    order: 1;

    @include breakpoint('tablet-ld') {
      order: 2;
    }
  }

  &__c-banner {
    margin-top: #{$base * 3px};
    order: 4;

    @include breakpoint('tablet-pt') {
      margin-top: 0;
      order: 3;
    }
  }

  &__c-features {
    margin-top: #{$base * 3px};
    order: 3;

    @include breakpoint('tablet-pt') {
      margin-top: 0;
      order: 4;
    }

    &__list {
      display: flex;
      height: 100%;

      li {
        + li {
          &:nth-child(n+2) {
            margin-top: #{$base * 3px};

            @include breakpoint('desktop') {
              margin-top: #{$base * 2px};
            }
          }
        }
      }
    }

    &__header {
      justify-content: flex-start;

      @include breakpoint('tablet-pt') {
        justify-content: flex-end;
      }
    }

    &__title {
      @include text--medium;
      @include text--regular; 
      color: $c-white;
      line-height: #{$base * 5px};

      @include breakpoint('tablet-pt') {
        @include text--big;
        line-height: #{$base * 7px};
      }
    }

    &__category {
      @include text--bold; 
      color: $c-white;
      display: inline-block;
      margin-left: #{$base * 1px};
    }
  }
}