.base-button {
  $basebutton: &;
  
  @include text--regular;

  background: $c-primary;
  border: none;
  border-radius: px2rem($base * 4);
  cursor: pointer;
  color: $c-white;
  min-width: #{$base * 20 + px};
  min-height: #{$base * 6 + px};
  padding: 0 #{$base * 2 + px};
  transition: background .6s $a-ease-out,
              color .6s $a-ease-out;
  text-transform: uppercase;

  &:disabled {
    background: $c-darkgray;
  }

  @include breakpoint('tablet-pt') {
    &:not([disabled]) {
      &:hover,
      &:focus {
        background: $c-secondary;
      }
    }
  }

  &--isSecondary {
    background: $c-secondary;

    @include breakpoint('tablet-pt') {
      &:not([disabled]) {
        &:hover,
        &:focus {
          background: $c-primary;
        }
      }
    }
  }

  &--isSimple {
    background: $c-white;
    border: 1px solid $c-darkgray;
    color: $c-darkgray;

    @include breakpoint('tablet-pt') {
      &:not([disabled]) {
        &:hover,
        &:focus {
          background: $c-black;
          color: $c-white;
        }
      }
    }
  }

  &--isFullsize {
    min-width: 100%;
  }
}