.base-button {
  $basebutton: &;

  @include text--xsmall;
  @include text--regular;

  background: $c-primary;
  border: none;
  border-radius: px2rem($base * 3) 0px px2rem($base * 3) px2rem($base * 3);
  cursor: pointer;
  color: $c-white;
  min-width: #{$base * 20px};
  min-height: #{$base * 6px};
  padding: 0 #{$base * 2px};
  transition: background 1s $a-ease-out,
              color .6s $a-ease-out;
  text-transform: uppercase;

  &:disabled {
    background: $c-dark-gray;
  }

  @include breakpoint('tablet-pt') {
    &:not([disabled]) {
      &:hover,
      &:focus {
        background: $c-secondary;
      }
    }
  }

  &--isSecondary {
    background: $c-secondary;

    @include breakpoint('tablet-pt') {
      &:not([disabled]) {
        &:hover,
        &:focus {
          background: $c-primary;
        }
      }
    }
  }

  &--isLight {
    background: $c-white;
    border: 1px solid $c-silver;
    color: $c-dark-gray;

    @include breakpoint('tablet-pt') {
      &:not([disabled]) {
        &:hover,
        &:focus {
          background: $c-dark-gray;
          color: $c-white;
        }
      }
    }
  }

  &--isFullsize {
    min-width: 100%;
  }

  &--isReplaced {
    min-width: inherit;

    @include breakpoint('only-phone') {
      min-width: #{$base * 6px};
    }
  }

  &__label {
    #{$basebutton}--isReplaced & {
      @include breakpoint('only-phone') {
        display: none;
      }
    }
  }

  &__icon {
    display: none;
    @include breakpoint('only-phone') {
      display: block;
    }
  }

  &[style*="min-width"] {
    @include breakpoint('only-phone') {
      min-width: 100% !important;
    }
  }
}