.navigation-router-link {
  @include text--light;
  @include text--xsmall;
  $navigationrouterlink: &;

  background: rgba(darken( $c-secondary, 10% ), 0);
  color: $c-white;
  display: flex;
  padding: #{$base * 2px} #{$base + px};
  position: relative;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .4s $a-ease-out,
              color .4s $a-ease-out;

  @include breakpoint('only-phone') {
    @include text--medium;
    opacity: .4;

    &--is-active {
      opacity: 1;
    }
  }

  @include breakpoint('desktop') {
    &:hover {
      #{$navigationrouterlink}__label {
        &::after {
          opacity: 1;
          transform: translateY(-50%) translateX(-100%) translateX($base * -1px);
        }
      }
    }
  }

  &:focus {
    #{$navigationrouterlink}__label {
      &::after {
        opacity: 1;
        transform: translateY(-50%) translateX(-100%) translateX($base * -1px);
      }
    }
  }
  
  &__label {
    position: relative;

    &::after {
      background: $c-white;
      top: 50%;
      border-radius: 100%;
      height: #{$base + 2px};
      left: 0;
      content: '';
      opacity: 0;
      position: absolute;
      width: #{$base + 2px};
      transform: translateY(100%) translateX(-100%) translateX($base * -1px);
      transition: transform .4s $a-elastic,
                  opacity .4s $a-ease-out,
                  background .4s $a-ease-out;
      
      @include breakpoint('only-phone') {
        transform: translateY(100%) translateX(-100%) translateX((($base * 2) * -1px));
      }
    }

    #{$navigationrouterlink}--is-active &{
      &::after {
        opacity: 1;
        transform: translateY(-50%) translateX(-100%) translateX($base * -1 + px);

        @include breakpoint('only-phone') {
          transform: translateY(-50%) translateX(-100%) translateX((($base * 2) * -1) + px);
        }
      }
    }
  }
}