::placeholder {
  @include text--light;
  @include text--xsmall;
  color: $c-gray;
  opacity: 1;
}

::-ms-input-placeholder {
  @include text--light;
  @include text--xsmall;
  color: $c-gray;
}

body {
  background: rgba($c-silver, .5);
  color: $c-darkgray;
}


*:focus {
  outline: none;
}

ul, ol, li, h1, h2, h3, figure, button, p, form {
  margin: 0;
  padding: 0;
  list-style: none
}

figure {
  img {
    max-width: 100%;
  }
}

#app {
  color: $c-white;
  min-height: 100vh;
}