::placeholder {
  @include text--light;
  @include text--xsmall;
  color: $c-gray;
  opacity: 1;
}

::-ms-input-placeholder {
  @include text--light;
  @include text--xsmall;
  color: $c-gray;
}

input{
  &[type=number] {
  -moz-appearance:textfield; /* Firefox */
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

*:focus {
  outline: none;
}

ul, ol, li, h1, h2, h3, h4, figure, button, p, form {
  margin: 0;
  padding: 0;
  list-style: none
}

figure {
  img {
    max-width: 100%;
  }
}