@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

:root {
  --welcome-message: 'Bienvenidos a Habitissimo'
}

* {
  box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::selection {
    background-color: $c-secondary;
    color: $c-white
  }
}

html,
body {
  background: $c-white;
  color: $c-dark-gray;
}

html,
body,
#app {
  background: $c-secondary;
	padding: 0;
	margin: 0;
}

#app {
  @include text--light;
  @include moveUp;
  color: $c-dark-gray;
  min-height: 100vh;
}

.isLoading {
  @include UI-spinner(80, 20, $c-white, var(--welcome-message));
  align-items: center;
  background: $c-secondary;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.isBlocked {
  max-height: 100vh;
  overflow: hidden;
}