@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::selection {
    background-color: $c-secondary;
    color: $c-white
  }
}

html,
body {
  height: 100%;
  background: $c-light-gray;
  color: $c-darkgray;
}

html,
body,
#app {
	padding: 0;
	margin: 0;
}

#app {
  @include text--light;
  color: $c-darkgray;
  min-height: 100vh;
}

.isBlocked {
  max-height: 100vh;
  overflow: hidden;
}
